# The MySQL server

[mysqld]
#只监听特定IP上的TCP/IP连接
#bind-address = 127.0.0.1
port            = 3306
socket          = /tmp/mysql.sock
pid-file=/home/mysql_data/mysql_3306.pid
datadir=/home/mysql_data
tmpdir = /dev/shm/mysql_tmp
character-set-server=utf8
#某台主机超过该设置的连接数没有连接成功,服务器将阻止之后的连接,默认100
#max_connect_errors=100
max_connections=10240
#back_log,MySQL可以拥有的未完成连接请求数,在高并发情况下设置,基于tcp/ip的监听队列,该值不能高于操作系统的值,默认值是50 + (max_connections / 5)
#系统变量System Var
#back_log=512
#所有mysql线程打开table的个数,默认2000,可以查看show status以决定是否需要增大该值
#系统变量System Var
#table_open_cache = 2000
max_allowed_packet = 32M
#order by 优化,针对每个session会话
sort_buffer_size = 4M
#join查询不使用索引情况下导致全表扫描的内存缓存区
join_buffer_size = 4M
bulk_insert_buffer_size = 64M
#Too many open files
open-files-limit=65535
lower_case_table_names=1
#高并发设置,线程缓冲的个数,存储在内存中以实现线程重用,默认-1自动适应
thread_cache_size = 1024
#mysql查询缓存,在5.7.20之后deprecated ,在mysql8.0之后弃用
query_cache_size = 32M
#0禁用查询缓存,同时query_cache_size设置为0;1-不缓存SELECT SQL_NO_CACHE的查询;2-只缓存SQL_CACHE的语句
query_cache_type = 1
wait_timeout=20
connect_timeout=10
#开启使用IP,避免DNS主机查找
skip-name-resolve
#skip-networking

#mysql8.0将废弃
#系统变量System Var
#max_tmp_tables = 64M
max_heap_table_size = 256M
tmp_table_size = 128M

#===innodb相关配置====
#在专用数据库服务器上，您可以将缓冲池大小设置为机器物理内存大小的80％。
innodb_buffer_pool_size = 768M
#如果工作负载的并发用户线程数小于64，请设置innodb_thread_concurrency = 0。
#如果您的工作负载持续很高或偶尔发生尖峰，请先设置innodb_thread_concurrency = 128，然后将该值降至96,80,64等，直到找到提供最佳性能的线程数。例如，假设您的系统通常有40到50个用户，但周期性数字增加到60,70或甚至200.您发现性能在80个并发用户中稳定，但开始显示高于此数字的回归。在这种情况下，您可以设置innodb_thread_concurrency = 80以避免影响性能。
innodb_thread_concurrency = 0
#innodb_support_xa = 1
innodb_thread_concurrency = 16M
innodb_log_file_size = 512M
innodb_log_buffer_size = 32M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 75
innodb_buffer_pool_dump_pct = 25
#InnoDB事务在放弃之前等待行锁的时间长度
innodb_lock_wait_timeout = 50
innodb_file_per_table = 1
innodb_flush_method=O_DIRECT


#==myisam相关===
#针对myisam表,跳过锁定,默认开启
skip-external-locking
#该配置用于以下场景:为了将索引缓存在临时文件（而不是临时表）中，在排序ORDER BY的行时。批量插入分区。用于缓存嵌套查询的结果。
read_buffer_size = 4M
#MyISAM表的索引块被缓冲区，并被所有线程共享,25％的机器总内存是该变量的可接受值
key_buffer_size = 256M
#此变量用于从MyISAM表读取，对于任何存储引擎，用于多范围读取优化。增大该值可以提升order by性能,注意这是为每个客户端分配的缓冲区，因此您不应将全局变量设置为较大的值。read_rnd_buffer_size = 16M
#在REPAIR TABLE中排序MyISAM索引时或在使用CREATE INDEX或ALTER TABLE创建索引时分配的缓冲区的大小。
myisam_sort_buffer_size = 64M

#查询日志
general-log = 1
general_log_file = /home/mysql_log/3306_general_log.log

#慢日志
slow-query-log = 1
slow_query_log_file = /home/mysql_log/3306_slow_query.log
long_query_time =3

#错误日志
log-error=/home/mysql_log/3306_error_log

# mysql主从配置
#===master config===
server-id       = 1
log-bin=/home/mysql_log/log-bin-3306
binlog_cache_size = 4M
#max_binlog_size=1024M
#binary log保存的天数
expire_logs_days= 7
#当从库作为其他从库的主库时，开启该选项
#log-slave-updates
sync_binlog=1
max_binlog_size = 128M
innodb_flush_log_at_trx_commit = 1
#是否只读,slave设置为1
read_only = 0
#binlog日志格式,ROW,STATEMENT,MIXED基于行,语句,混合,5.7.7之后默认ROW
binlog-format=ROW

#===slave config===
#通常情况从库发生错误时,停止复制,如果设置指定error值,将会跳过指定的错误,继续执行
#slave-skip-errors = 1032,1062,126,1114,1146,1048,1396,1030,1194,1053
#slave-skip-errors = all
#从库的relay-log配置
#relay-log=/home/mysql_log/relay-log-3306
#relay-log-index=/home/mysql_log/relay-log-3306.index
#relay-log-info-file=/home/mysql_log/relay-log-3306.info
#relay_log日志存储在哪,FILE-文件,TABLE-表,默认FIEL
#relay-log-info-repository=FILE
#服务器启动后立即执行中继日志,默认0
#relay-log-recovery=0

#replicate-ignore-db = mysql
#replicate-do-db=mysql


#所有client程序共用,mysql,mysqladmin,mysqldump等
[client]
port            = 3306
#socket          = /tmp/mysql.sock

[mysqldump]
quick
max_allowed_packet = 16M


[isamchk]
key_buffer = 8M
sort_buffer_size = 8M

[myisamchk]
key_buffer = 8M
sort_buffer_size = 8M

[mysqlhotcopy]
interactive-timeout



